.swiper-container {
  height: auto !important;
}

.swiper-wrapper, .swiper-slide {
  height: 0 !important;
  padding-bottom: calc(650 / 1920 * 100%); /* 注意圖片高度與寬度要去掉單位 */
}

.swiper-slide {
  width: 100% !important;
}





@media only screen and (min-width: 768px){.topnavbar {background: #fbfbfb url(https://static.iyp.tw/15041/files/cc86f5a0-5216-4124-a4d8-89e092a8e2e7.jpg)repeat-x center; }}


@media only screen and (min-width: 768px){#banner {top: 128px; } #main-wrap {margin-top: 127px;} #ndc-banner-editor {top: 127px;}}





.fcol .container {    color: #222;    font-size: 15px;}
p { line-height:2;}


#nav ul li.current a {
    color: #339;
}

#nav ul li a {
    color: #797878;
}

#nav ul li a:hover {color: #339;}


/*標題*/
.fcol.fcol-header {
    background: #00568d;background: #fbfbfb url(https://static.iyp.tw/15041/files/cc86f5a0-5216-4124-a4d8-89e092a8e2e7.jpg)repeat-x center;
}
.h1title {
    color: #339;
    text-align: center;
    letter-spacing: 5px;
}

a {
    color: #4c4ca4;
}

#footer {
    color: #090909;
    background-color: #ccc;
}

#foot-nav ul li a {
    color: #090909;
}

.contact-row h5 {
    color: #090909;
}

#contact-info ul li span {
    color: #090909;
}

#footer a {
    color: #090909;
}

#foot-nav ul li.current a, #foot-nav ul li a:hover {
    color: #339;
}


body.about-us .fcol.fcol-2 {    background: rgba(56,56,131,0.3);}

body.about-us .fcol.fcol-6 {   display:none;}
body.about-us .fcol.fcol-5 {   display:none;}
body.about-us .fcol.fcol-4 {   display:none;}
body.about-us #footer { margin-top: -40px;}


ul.product-list li a:hover {
    color: #fff;
    background-color: rgba(56,56,131,1);
}

ul.product-list li a {
    color: #000;
    background-color: rgba(56,56,131,0.3);
}





/*圖片*/
.menu [class^="col-"] img:hover {
    border-radius: 50% 0%;
}
.menu [class^="col-"] img {
  transition:0.7s;
  border: 1px #dddddd solid;
  padding:6px;
}