body {
  margin: 0;
  font-family: "Microsoft JhengHei", sans-serif;
}

    .corner-logo {
      position: fixed;   /* 固定在視窗，不會隨滾動消失 */
      top: 70px;      /* 距離視窗下方 20px */
      left: 20px;       /* 距離視窗右邊 20px */
      width: 80px;       /* logo 大小 */
      height: auto;
      border-radius: 10px; /* 圓角效果 */
      border: 2px solid #000000; /* 粉紅框線 */
    }
  

/* 控制圖片位置：置中 */
.center {
  display: block;
  margin: 20px auto;
   border-radius: 10px; 
   height: auto; 
   width: 100px;                 /* 大小 */
   border: 2px solid #f580e9; /* 色 */
    position: absolute;      /* 開啟絕對定位 */
  top: 90px;               /* 距離上方 50px */
  left: 600px;       /* 距離左方 50px */
}
.left {
  float: left;
  margin: 10px;
   border-radius: 10px;
   width: 100px; 
   border: 2px solid #dc0000;  
}
.right {
  float: right;
  margin: 10px;
   border-radius: 10px;
   width: 100px; 
   border: 2px solid #59f300;
}

